header {
    background-color: pink;
  }
  
  form {
    background-color: white;
  }
  
  map {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  