


<p></p>
<div class="right">
    <button class="A">ログイン</button>
</div>

<div>
<button type="button" onclick="location.href='URL'">避難所の一覧</button>
<button type="button" onclick="location.href='URL'">掲示板</button>
<button type="button" onclick="location.href='URL'">アカウント情報管理</button>
<button type="button" onclick="location.href='URL'">在庫の棚卸を行う</button>
<button type="button" onclick="location.href='URL'">在庫の確認・出力</button>
<button type="button" onclick="location.href='URL'">避難所の一覧</button>
</div>

